<div class="faq4-section-area sp1">
    <div class="container">
        <div class="row ">
            <div class="col-lg-7 m-auto">
                <div class="faq-header-area heading9 text-center">
                    <h5 data-aos="fade-left" data-aos-duration="800">FAQ’S</h5>
                    <h2 class="tg-element-title">Electricity Essentials FAQ Section</h2>
                    <p data-aos="fade-left" data-aos-duration="1000">Have questions about our electricity services?
                        You're in the right place! Browse <br class="d-lg-block d-none"> through our frequently asked
                        questions to find answers to common.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="faq-images">
                    <img src="assets/img/all-images/faq-img2.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="faq-auhtoir-area2">
                    <div ngbAccordion [closeOthers]="true" class="accordion accordion-flush" id="accordionFlushExample">
                        @for (faq of faqs; track $index;let first=$first;let id=$index;let last=$last) {
                            <div ngbAccordionItem [collapsed]="first ? false : true" data-aos="fade-left" data-aos-duration="800">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                       {{faq.question}}
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" ngbAccordionCollapse
                                    data-bs-parent="#accordionFlushExample">
                                    <div ngbAccordionBody>{{faq.answer}}</div>
                                </div>
                            </div>
                            <div *ngIf="!last" class="space20"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>