<div class="cta1-section-area sp4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cta-header heading2">
                    <h2 class="tg-element-title">Ready to Power up your Savings and Reliability?</h2>
                    <p data-aos="fade-up" data-aos-duration="800">Feel free to customize this paragraph to better
                        reflect the specific services offered by your IT solution & the unique </p>
                    <form action="#" data-aos="fade-up" data-aos-duration="1000">
                        <input type="email" placeholder="Email Address">
                        <button type="submit" class="header-btn1">Subscribe Now <i
                                class="fa-solid fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="cta-images">
                    <div class="img1">
                        <img src="assets/img/all-images/cta-img1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>