<div class="about3-section-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about3-header-area heading6">
                    <h5 data-aos="fade-left" data-aos-duration="800">Problema/solucion</h5>
                    <h2 class="tg-element-title">Los riesgos y costos de la pintura tradicional ya no son necesarios</h2>
                    <p data-aos="fade-left" data-aos-duration="1000">Andamios, tiempos largos y trabajos peligrosos ya no son la única opción. Con nuestros drones, transformamos la manera de pintar grandes superficies.</p>
                    <div class="misson-text" data-aos="fade-left" data-aos-duration="1100">
                        <p>3 puntos clave:</p>
                        <ul>
                            <li><img src="assets/img/icons/check3.svg" alt="">Más seguro: Eliminamos el trabajo en altura, reduciendo el riesgo de accidentes laborales.</li>
                            <li><img src="assets/img/icons/check3.svg" alt="">Más rápido: Pintamos en horas lo que otros tardan días, sin interrupciones innecesarias.</li>
                            <li><img src="assets/img/icons/check3.svg" alt="">Más económico: Menos infraestructura, menos mano de obra, menor tiempo = menor costo total.</li>
                        </ul>
                    </div>
                    <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
                        <a routerLink="/services/one" class="header-btn5">View All Service <i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                <div class="about-images-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="img1" data-aos="zoom-in" data-aos-duration="1000">
                                <div class="space70 d-md-block d-none"></div>
                                <div class="space30 d-md-none d-block"></div>
                                <img src="assets/img/all-images/Andamios.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="img1" data-aos="zoom-in" data-aos-duration="1200">
                                <div class="space30 d-md-none d-block"></div>
                                <img src="assets/img/all-images/dron.webp" alt="">
                                <div class="about-footer-bottom">
                                    <div class="img">
                                        <img src="assets/img/icons/star1.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <span>Approved Best Electricity </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>