<div class="about3-section-area sp1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about3-header-area heading6">
          <h5 data-aos="fade-left" data-aos-duration="800">El principal problema...</h5>
          <h2 class="tg-element-title">La pintura tradicional es lenta, costosa y arriesgada</h2>
          <p data-aos="fade-left" data-aos-duration="1000">Los proyectos de pintura en altura y grandes superficies enfrentan siempre los mismos desafíos. Con nuestros drones, transformamos la manera de pintar.</p>

          <div class="misson-text" data-aos="fade-left" data-aos-duration="1100">
            <p><strong>Desafíos del método tradicional:</strong></p>
            <ul>
              <li>
                <img src="assets/img/icons/alerta.png" style="width: 18px;" alt="">
                <strong>Riesgo Humano:</strong> El trabajo en altura expone a los operarios a caídas y accidentes graves.
              </li>
              <li>
                <img src="assets/img/icons/alerta.png" style="width: 18px;" alt="">
                <strong>Tiempos Extensos:</strong> Montar andamios y el avance manual prolongan los plazos y las interrupciones.
              </li>
              <li>
                <img src="assets/img/icons/alerta.png" style="width: 18px;" alt="">
                <strong>Costos Elevados:</strong> El arriendo de equipos, la mano de obra y los seguros encarecen el presupuesto.
              </li>
            </ul>
          </div>
          
          <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
            <a [routerLink]="['/home']" [fragment]="'app-service-3'" class="header-btn5">Conoce la solución <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <div class="about-images-area">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="img1" data-aos="zoom-in" data-aos-duration="1000">
                <div class="space70 d-md-block d-none"></div>
                <div class="space30 d-md-none d-block"></div>
                <img src="assets/img/all-images/Andamios.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="img1" data-aos="zoom-in" data-aos-duration="1200">
                <div class="space30 d-md-none d-block"></div>
                <img src="assets/img/all-images/dron.webp" alt="">
                <div class="about-footer-bottom">
                  <div class="img">
                    <img src="assets/img/icons/star1.svg" alt="">
                  </div>
                  <div class="content">
                    <span>Conoce DronFinish</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>