<app-loader className="preloader2" icon="assets/img/logo/preloader3.png" />
<div class="homepage4-body tg-heading-subheading animation-style3">
    <app-topbar btnClass="header-btn7" headerClass="homepage4" mobileHeaderClass="mobile-haeder4"
        mobileSidebarClass="mobile-sidebar4" logo="assets/img/logo/logo6.png" mobileLogo="assets/img/logo/logo7.png" />
    <app-hero-2 />
    <app-about-2 />
    <app-our-mission />
    <app-case-study />
    <app-team-2 />
    <app-testimonial-2 />
    <app-faq-2 />
    <app-contact-2 />
    <app-blogs-2 />
    <app-cta-2 />
    <app-footer containerClass="footer4-section-area" logo="assets/img/logo/logo7.png"/>
</div>