<div [class]="containerClass">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-logo-content sp4">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="logo-content">
                <img [src]="logo" alt="">
                <p>Evaluamos, planificamos y pintamos tu proyecto con drones: rápido, seguro y sin interrupciones.</p>
                <ul>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-1 d-lg-block d-none"></div>

            <div class="col-lg-2 col-md-6">
              <div class="space30 d-block d-md-none"></div>
              <div class="service-heading">
                <h2>Secciones</h2>
                <ul>
                    <li><a [routerLink]="'/home'" [fragment]="'inicio'">Inicio</a></li>
                    <li><a [routerLink]="'/home'" [fragment]="'problemas-solucion'">Problema</a></li>
                    <li><a [routerLink]="'/home'" [fragment]="'como-funciona'">¿Cómo funciona?</a></li>
                    <li><a [routerLink]="'/home'" [fragment]="'beneficios'">Beneficios</a></li>
                    <li><a [routerLink]="'/home'" [fragment]="'preguntas-frecuentes'">FAQ</a></li>
                    <li><a [routerLink]="'/home'" [fragment]="'galeria'">Galería</a></li>
                    <li><a [routerLink]="'/home'" [fragment]="'contacto'">Contacto</a></li>
                </ul>
                </div>

            </div>

            <div class="col-lg-1 d-lg-block d-none"></div>

            <div class="col-lg-3 col-md-6">
              <div class="space30 d-md-block d-lg-none"></div>
              <div class="service-heading contact">
                <h2>Contáctanos</h2>
                <ul>
                  <li>
                    <a href="tel:+56933877568">
                      <span class="icons"><i class="fa-solid fa-phone"></i></span>
                      <span>+56 9 3387 7568</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:contacto@dronfinish.cl">
                      <span class="icons"><i class="fa-solid fa-envelope"></i></span>
                      <span>contacto&#64;dronfinish.cl</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">
                      <span class="icons"><i class="fa-solid fa-location-dot"></i></span>
                      <span>Los Ángeles, Chile</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <div class="copyright">
          <p>© Copyright {{currentYear}} - Dron Finish. Todos los derechos reservados. Pc reballing Los Ángeles</p>
        </div>
      </div>
    </div>
  </div>
</div>
