<div [class]="containerClass">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-logo-content sp4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo-content">
                                <img [src]="logo" alt="">
                                <p>Our goal is to demystify the process, address your concerns, and empower you with the
                                    knowledge to embark.</p>
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-1 d-lg-block d-none"></div>
                        <div class="col-lg-2 col-md-6">
                            <div class="space30 d-block d-md-none"></div>
                            <div class="service-heading">
                                <h2>Electricity service</h2>
                                <ul>
                                    <li><a href="javascript:void(0)">Air Conditioning </a></li>
                                    <li><a href="javascript:void(0)">Electrical Panels  </a></li>
                                    <li><a href="javascript:void(0)">Security System </a></li>
                                    <li><a href="javascript:void(0)"> Indoor Lighting </a></li>
                                    <li><a href="javascript:void(0)">Electrical Services</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-1 d-lg-block d-none"></div>
                        <div class="col-lg-2 col-md-6">
                            <div class="space30 d-md-block d-lg-none"></div>
                            <div class="service-heading">
                                <h2>Quick Links</h2>
                                <ul>
                                    <li><a routerLink="/home-1">Home </a></li>
                                    <li><a routerLink="/about">About Us  </a></li>
                                    <li><a routerLink="/services/one">Service</a></li>
                                    <li><a routerLink="/testimonials"> Testimonial</a></li>
                                    <li><a routerLink="/contact-up">Contact US</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="space30 d-md-block d-lg-none"></div>
                            <div class="service-heading contact">
                                <h2>Contact US </h2>
                                <ul>
                                    <li><a href="tel:+880123456789">
                                            <span class="icons"><i class="fa-solid fa-phone"></i></span><span>+880 123
                                                456 789</span></a>
                                    </li>
                                    <li><a href="mailto:info@mail.com">
                                            <span class="icons"><i
                                                    class="fa-solid fa-envelope"></i></span><span>info&#64;mail.com </span></a>
                                    </li>
                                    <li><a href="javascript:void(0)">
                                            <span class="icons"><i
                                                    class="fa-solid fa-location-dot"></i></span><span>8502 Preston Rd.
                                                Inglewoo <br> Maine 98380</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <p>© Copyright {{currentYear}} -Current. All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>