<div class="contact4-section-area sp1" style="background-image: url(assets/img/all-images/contact-bg4.png); background-position: center; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="contact-submit-boxarea">
            <h4>Request A Quote</h4>
            <form action="https://api.web3forms.com/submit" method="POST">
              <input type="hidden" name="access_key" value="0cd32fff-eda2-4da3-be43-37d47fbb396b">
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-area">
                    <p>Name (required)</p>
                    <input type="text" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-area">
                    <p>Number (required)</p>
                    <input type="number" placeholder="Phone" required>
                  </div>
                </div>
    
                <div class="col-lg-12">
                  <div class="input-area">
                    <p>Email (required)</p>
                    <input type="email" placeholder="Email" required>
                  </div>
                </div>
    
                <div class="col-lg-12">
                  <div class="input-area">
                    <p>Additional Details  (Optional)</p>
                    <textarea placeholder="Describe your inquiry" cols="30" rows="10" required></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-area1">
                    <input type="checkbox" required>
                    <p>I agree with the site privacy policy</p>
                  </div>
                </div>
    
                <div class="col-lg-12">
                  <div class="input-area1">
                    <button type="submit" class="header-btn7">Submit Now <i class="fa-solid fa-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>