<div class="team1-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="team-header-area heading2 text-center">
                    <h5 data-aos="fade-left" data-aos-duration="800">Our Team</h5>
                    <h2 class="tg-element-title">Electricity Service Offerings</h2>
                    <p data-aos="fade-left" data-aos-duration="1000"> From residential households to commercial
                        enterprises, we provide reliable, efficient, and sustainable energy solutions.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let member of teamMembers" class="col-lg-3 col-md-6">
                <app-member-card [member]="member"/>
            </div>
        </div>
    </div>
</div>