<!-- src/app/views/home/home.component.html -->

<app-hero id="hero"></app-hero>


<!-- <app-about id="about"></app-about> -->

<app-about-4 id="about-4"></app-about-4>

<!-- SERVICIOS -->
<app-service-3 id="app-service-3"></app-service-3>

<!-- PLANES DE PRECIOS -->
<app-pricing-plans id="pricing"></app-pricing-plans>

<!-- PREGUNTAS FRECUENTES -->
<app-faq-3 id="app-faq-3"></app-faq-3>

<!-- TESTIMONIOS -->
<app-testimonial-3 id="testimonials"></app-testimonial-3>

<!-- CONTACTO -->
<app-contact id="contact"></app-contact>
