<div class="hero3-section-area">
    <img src="assets/img/elements/tower1.png" alt="" class="tower1 aniamtion-key-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-header-area heading5">
                    <h5>Current Electricity Services</h5>
                    <h1 class="tg-element-title">Electricity Services Connected Powered</h1>
                    <p>Whether you're a homeowner, business owner, or community leader, a we're here to light up your
                        life with sustainable energy solutions.</p>
                    <div class="btn-area">
                        <a routerLink="/contact-us" class="header-btn5">Get a Free Estimate <i
                                class="fa-solid fa-arrow-right"></i></a>
                        <a routerLink="/contact-us" class="header-btn6">Discover More <i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header-images-area">
                    <div class="header-img">
                        <img src="assets/img/all-images/header-img5.png" alt="">
                    </div>
                    <div class="shapes">
                        <img src="assets/img/elements/arrow1.png" alt="" class="arrow1 aniamtion-key-8">
                        <img src="assets/img/elements/lite1.png" alt="" class="lite1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>