<div class="service-leftside">
    <div class="service-author-list">
        <h3>Our Services</h3>
        <ul>
            <li><a href="javascript:void(0)">Energy Ease Packages <i class="fa-solid fa-arrow-right"></i></a></li>
            <li><a href="javascript:void(0)">Electra Care Packages <i class="fa-solid fa-arrow-right"></i></a></li>
            <li><a href="javascript:void(0)">Circuit Works Energy <i class="fa-solid fa-arrow-right"></i></a></li>
            <li><a href="javascript:void(0)">Energy Savvy Solutions <i class="fa-solid fa-arrow-right"></i></a></li>
            <li><a href="javascript:void(0)">Voltage Wave Energy <i class="fa-solid fa-arrow-right"></i></a></li>
        </ul>
    </div>

    <div class="helping-area">
        <h3>If You Need Any Help <br class="d-lg-block d-none"> Contact With Us</h3>
        <div class="btn-area">
            <a href="tel:+917052101786" class="header-btn1"><i class="fa-solid fa-phone-volume"></i>+91 705
                2101 786</a>
        </div>
    </div>
    <div class="download-broucher">
        <h3>Download Brochure</h3>
        <p>We also offer innovative solar financing packages, ensuring that the transition.</p>
        <div class="btn-area">
            <a href="javascript:void(0)" class="header-btn1"><img src="assets/img/icons/download1.svg" alt="">Pdf
                Download</a>
            <a href="javascript:void(0)" class="header-btn2"><img src="assets/img/icons/download1.svg" alt="">Doc
                Download</a>
        </div>
    </div>
    <div class="social-icons">
        <h3>Follow Us</h3>
        <ul>
            <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa-brands fa-pinterest-p"></i></a></li>
        </ul>
    </div>
</div>