<div class="hero1-section-area about-bg-area">
    <img src="assets/img/bg/header-img1.png" alt="" class="header-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="hero-heading-area heading1 text-center">
                    <h1>Contact Us</h1>
                    <app-breadcrumb title="Contact Us" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact1-section-area contact-inner sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contact-header-area heading2">
                    <h5>Contact Us</h5>
                    <h2 class="tg-element-title">Illuminate Your Message Get in Contact</h2>
                    <p>Have questions or ready to get started with our electricity services? Our team is here to help!
                        Whether you're seeking.</p>
                    <div class="space48"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact-auhtor-side">
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <p>Phone</p>
                                        <a href="tel:1234567890">123 456 7890</a>
                                    </div>
                                </div>
                                <div class="space48"></div>
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="text">
                                        <p>Address</p>
                                        <a href="tel:1234567890">London Eye ,London</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="space48 d-md-none"></div>
                            <div class="contact-auhtor-side">
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p>Email</p>
                                        <a href="mailto:serebangle@gmail.com ">serebangle&#64;gmail.com </a>
                                    </div>
                                </div>
                                <div class="space48"></div>
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                    <div class="text">
                                        <p>Linkedin</p>
                                        <a href="javascript:void(0)">Fleexstudio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="contact-submit-boxarea">
                    <h4>Request A Quote</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-area">
                                <p>Name (required)</p>
                                <input type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-area">
                                <p>Number (required)</p>
                                <input type="number" placeholder="Phone">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="input-area">
                                <p>Email (required)</p>
                                <input type="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="input-area">
                                <p>Additional Details (Optional)</p>
                                <textarea placeholder="Describe your inquiry" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-area1">
                                <input type="checkbox">
                                <p>I agree with the site privacy policy</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="input-area1">
                                <button type="submit" class="header-btn1">Submit Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4506257.120552435!2d88.67021924228865!3d21.954385721237916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1704088968016!5m2!1sen!2sbd"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>