<div class="blog2-section-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto">
          <div class="blog-header heading4 text-center">
            <h5 data-aos="fade-up" data-aos-duration="800">Our Blog</h5>
            <h2> Electricity News & Updates</h2>
            <p data-aos="fade-up" data-aos-duration="1000">From residential households to commercial enterprises, we provide reliable, efficient, and sustainable energy solutions.</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-5 col-md-6" data-aos="flip-left" data-aos-duration="800">
          <div class="blog-auhtor-boxarea">
            <div class="img1">
              <img src="assets/img/all-images/blog-img4.png" alt="">
            </div>
             <div class="blog-content-area">
              <ul>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-calendar-days"></i>April 2,2024</a></li>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-tag"></i>Electricity Corner</a></li>
              </ul>
              <a routerLink="/blogs/single" class="heading">Electrifying Reads Explore Our Electricity </a>
              <a routerLink="/blogs/single" class="learnmore">Learn more <i class="fa-solid fa-arrow-right"></i></a>
             </div>
          </div>
        </div>
  
        <div class="col-lg-7 col-md-6" data-aos="flip-right" data-aos-duration="1000">
          <div class=" blog-box2">
            <div class="img1">
              <img src="assets/img/all-images/blog-img5.png" alt="">
            </div>
             <div class="blog-content-area">
              <ul>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-calendar-days"></i>April 2,2024</a></li>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-tag"></i>Electricity Corner</a></li>
              </ul>
              <a routerLink="/blogs/single" class="heading">Electrifying Reads Explore Our Electricity </a>
              <a routerLink="/blogs/single" class="learnmore">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
  
          <div class="blog-box2">
            <div class="img1">
              <img src="assets/img/all-images/blog-img6.png" alt="">
            </div>
             <div class="blog-content-area">
              <ul>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-calendar-days"></i>April 2,2024</a></li>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-tag"></i>Electricity Corner</a></li>
              </ul>
              <a routerLink="/blogs/single" class="heading">Electrifying Reads Explore Our Electricity </a>
              <a routerLink="/blogs/single" class="learnmore">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>