<div class="hero1-section-area about-bg-area">
    <img src="assets/img/bg/header-img1.png" alt="" class="header-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto">
                <div class="hero-heading-area heading1 text-center">
                    <h1>Energy Ease Packages</h1>
                    <app-breadcrumb subTitle="Energy Ease Packages" title="Our Service" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-leftside-area sp8">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="service-rightside-area heading2" style="padding: 0;">
                    <app-service-content />
                </div>
            </div>
        </div>
    </div>
</div>

<app-view-services />