<div class="work1-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="work-header-area heading2">
                    <h5 data-aos="fade-left" data-aos-duration="800">How it work</h5>
                    <h2 class="tg-element-title">How to Work Our Electricity Service</h2>
                    <p data-aos="fade-left" data-aos-duration="1000">Throughout the process, transparency &
                        communication, keeping you informed.</p>

                    <div class="tabs-list">
                        <ul ngbNav #nav="ngbNav" class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" ngbNavItem role="presentation" data-aos="fade-left"
                                data-aos-duration="800">
                                <button class="nav-link" ngbNavLink id="pills-work1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-work1" type="button" role="tab" aria-controls="pills-work1"
                                    aria-selected="true">
                                    <span class="workicons"><img src="assets/img/icons/work1.svg" alt=""></span>
                                    <span class="worktext">Power Path Unveiling Our Process</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="works-side-area">
                                        <div class="images reveal">
                                            <img src="assets/img/all-images/work-img1.png" alt="">
                                        </div>
                                        <div class="content-area">
                                            <a routerLink="/case-study-single" class="power tg-element-title">Power Path
                                                Unveiling Our Process</a>
                                            <p>Our process begins with a thorough assessment of energy needs and goals.
                                                Once we understand your requirements, we work closely with you to
                                                develop.</p>
                                            <div class="btn-area">
                                                <a routerLink="/case-study-single" class="header-btn1">Book A Consulation <i
                                                        class="fa-solid fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li class="nav-item" ngbNavItem role="presentation" data-aos="fade-left"
                                data-aos-duration="1000">
                                <button class="nav-link" ngbNavLink id="pills-work2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-work2" type="button" role="tab" aria-controls="pills-work2"
                                    aria-selected="false">
                                    <span class="workicons"><img src="assets/img/icons/work2.svg" alt=""></span>
                                    <span class="worktext">Electro Flow Decoding Our Method</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="works-side-area">
                                        <div class="images">
                                            <img src="assets/img/all-images/work-img1.png" alt="">
                                        </div>
                                        <div class="content-area">
                                            <a routerLink="/case-study-single" class="power tg-element-title">Electro Flow
                                                Decoding Our
                                                Method</a>
                                            <p>Our process begins with a thorough assessment of energy needs and
                                                goals. Once we
                                                understand your requirements, we work closely with you to develop.
                                            </p>
                                            <div class="btn-area">
                                                <a routerLink="/case-study-single" class="header-btn1">Book A Consulation <i
                                                        class="fa-solid fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li class="nav-item" ngbNavItem role="presentation" data-aos="fade-left"
                                data-aos-duration="1200">
                                <button class="nav-link" ngbNavLink id="pills-work3-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-work3" type="button" role="tab" aria-controls="pills-work3"
                                    aria-selected="false">
                                    <span class="workicons"><img src="assets/img/icons/work3.svg" alt=""></span>
                                    <span class="worktext">Energetic Engine Behind Scenes</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="works-side-area">
                                        <div class="images">
                                            <img src="assets/img/all-images/work-img1.png" alt="">
                                        </div>
                                        <div class="content-area">
                                            <a routerLink="/case-study-single" class="power tg-element-title">Energetic Engine
                                                Behind
                                                Scenes</a>
                                            <p>Our process begins with a thorough assessment of energy needs and goals.
                                                Once we
                                                understand your requirements, we work closely with you to develop.</p>
                                            <div class="btn-area">
                                                <a routerLink="/case-study-single" class="header-btn1">Book A Consulation <i
                                                        class="fa-solid fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li class="nav-item" ngbNavItem role="presentation" data-aos="fade-left"
                                data-aos-duration="1400">
                                <button class="nav-link" ngbNavLink id="pills-work4-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-work4" type="button" role="tab" aria-controls="pills-work4"
                                    aria-selected="false">
                                    <span class="workicons"><img src="assets/img/icons/work4.svg" alt=""></span>
                                    <span class="worktext">Watt Works Discover Operations</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="works-side-area">
                                        <div class="images">
                                            <img src="assets/img/all-images/work-img1.png" alt="">
                                        </div>
                                        <div class="content-area">
                                            <a routerLink="/case-study-single" class="power tg-element-title">Watt Works
                                                Discover
                                                Operations</a>
                                            <p>Our process begins with a thorough assessment of energy needs and goals.
                                                Once we
                                                understand your requirements, we work closely with you to develop.</p>
                                            <div class="btn-area">
                                                <a routerLink="/case-study-single" class="header-btn1">Book A Consulation <i
                                                        class="fa-solid fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="works-author-area">
                    <div class="tab-content" id="pills-tabContent" [ngbNavOutlet]="nav">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>