<app-loader className="preloader4" icon="assets/img/logo/preloader3.png" />
<div class="homepage3-body tg-heading-subheading animation-style3">
    <app-topbar headerClass="homepage3" btnClass="header-btn5" logo="assets/img/logo/logo4.png"
        mobileHeaderClass="mobile-haeder3" mobileLogo="assets/img/logo/logo5.png" mobileSidebarClass="mobile-sidebar3"
        [isAlert]="true" />
    <app-hero-4 />
    <app-about-4 />
    <app-service-4 />
    <app-case-study-4 />
    <app-testimonial-4 />
    <app-team-4 />
    <app-contact-4 />
    <app-blogs-4 />
    <app-footer-2 btnClass="header-btn5" containerClass="footer3-section-area" logo="assets/img/logo/logo5.png"/>
</div>