<div class="mobile-header {{mobileHeaderClass}} d-block d-lg-none">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a routerLink="/home"><img [src]="mobileLogo" style="height: 50px; width: auto;" alt=""></a>
        </div>
        <div class="mobile-nav-icon dots-menu" (click)="toggleMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar {{mobileSidebarClass}}" [ngClass]="{ 'mobile-menu-active': isMenuOpen }">
  <div class="logosicon-area">
    <div class="logos">
      <img [src]="mobileLogo" style="height: 50px; width: auto;" alt="">
    </div>
    <div class="menu-close" (click)="closeMenu()">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="mobile-nav mobile-nav1">
    <ul class="mobile-nav-list nav-list1">
      <ng-container *ngFor="let item of menuItems;">
        <app-mobile-nav-item [item]="item" (closeMenu)="closeMenu()"></app-mobile-nav-item>
      </ng-container>
    </ul>

    <div class="allmobilesection">
      <a [href]="'#contacto'" [class]="btnClass" (click)="closeMenu()">Contáctanos <i class="fa-solid fa-arrow-right"></i></a>
      <div class="single-footer">
        <h3>Información de contacto</h3>
        <div class="footer1-contact-info">
          <div class="contact-info-single">
            <div class="contact-info-icon">
              <i class="fa-solid fa-phone-volume"></i>
            </div>
            <div class="contact-info-text">
              <a href="tel:+56933877568">+569 3387 7568</a>
            </div>
          </div>

          <div class="contact-info-single">
            <div class="contact-info-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="contact-info-text">
              <a href="mailto:contacto@dronfinish.cl">contacto&#64;dronfinish.cl</a>
            </div>
          </div>

          <!-- <div class="single-footer">
              <h3>Our Location</h3>
              
              <div class="contact-info-single">
                <div class="contact-info-icon">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="contact-info-text">
                  <a href="mailto:info@dronfinish.cl" >55 East Birchwood Ave.Brooklyn, <br> New York 11201,United States</a>
                </div>
              </div>
            </div> -->

          <div class="single-footer">
            <h3>Redes sociales</h3>

            <div class="social-links-mobile-menu">
              <ul>
                <li><a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>