<div class="hero1-section-area about-bg-area">
    <img src="assets/img/bg/header-img1.png" alt="" class="header-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="hero-heading-area heading1 text-center">
                    <h1>Pricing Plan</h1>
                    <app-breadcrumb title="Pricing Plan" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="compare-palns-area sp2">
    <div class="container">
        <app-pricing-plan-1 class="mt-0" />
    </div>
</div>

<div class="compareplan-section-area sp1">
    <div class="container">
        <app-pricing-plan-2 />
    </div>
</div>