<div class="hero2-section-area" style="background-image: url(assets/img/bg/header-bg1.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-header heading3">
                    <h5 data-aos="fade-left" data-aos-duration="800">Current Electricity Services</h5>
                    <h1 class="tg-element-title">Your Life Reliable Electricity Services.</h1>
                    <p data-aos="fade-left" data-aos-duration="1000">Whether you're a homeowner, business owner, or community leader, a we're here to light up your life with sustainable energy solutions.</p>
                    <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
                        <a routerLink="/contact-us" class="header-btn3 btn2">Get A Free Estimate <i class="fa-solid fa-arrow-right"></i></a>
                        <a routerLink="/contact-us" class="header-btn4">Discover More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>

                    <div class="counter-header-area">
                        <div class="counter-area" data-aos="zoom-out" data-aos-duration="800">
                            <h2> <count-up [countUp]="40">40</count-up>+</h2>
                            <p>Contrives Reached</p>
                        </div>

                        <div class="counter-area" data-aos="zoom-out" data-aos-duration="1000">
                            <h2><count-up [countUp]="450">450</count-up>+</h2>
                            <p>Projects Completed</p>
                        </div>

                        <div class="counter-area m-0" data-aos="zoom-out" data-aos-duration="1200">
                            <h2><count-up [countUp]="235">235</count-up>+</h2>
                            <p>Qualified Sataff</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero2-images-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ngx-slick-carousel [config]="sliderConfig" class="all-images-area">
                              <div ngxSlickItem class="all-images">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img1.png" alt="">
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img2.png" alt="">
                              </div>
                              </div>

                              <div ngxSlickItem class="all-images">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img1.png" alt="">
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img2.png" alt="">
                              </div>
                              </div>

                              <div ngxSlickItem class="all-images">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img1.png" alt="">
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img2.png" alt="">
                              </div>
                              </div>

                              <div ngxSlickItem class="all-images">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img1.png" alt="">
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img2.png" alt="">
                              </div>
                              </div>
                            </ngx-slick-carousel>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="space80 d-md-block d-none"></div>
                            <img src="assets/img/elements/circle2.png" alt="" class="circle2 keyframe5">
                            <ngx-slick-carousel [config]="sliderConfig2" class="all-images-area2">
                              <div ngxSlickItem class="all-imges">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img3.png" alt=""> 
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img4.png" alt="">
                              </div>
                              </div>
                              <div ngxSlickItem class="all-imges">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img3.png" alt=""> 
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img4.png" alt="">
                              </div>
                              </div>
                              <div ngxSlickItem class="all-imges">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img3.png" alt=""> 
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img4.png" alt="">
                              </div>
                              </div>
                              <div ngxSlickItem class="all-imges">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img3.png" alt=""> 
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img4.png" alt="">
                              </div>
                              </div>
                              <div ngxSlickItem class="all-imges">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img3.png" alt=""> 
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img4.png" alt="">
                              </div>
                              </div>
                              <div ngxSlickItem class="all-imges">
                                <div class="images">
                                  <img src="assets/img/all-images/header-img3.png" alt=""> 
                              </div>
                              <div class="images">
                                  <img src="assets/img/all-images/header-img4.png" alt="" >
                              </div>
                              </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>