<owl-carousel-o class="slider-header-carousel" [options]="carouselOptions">
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide>
        <div class="hero1-section-area">
          <img [src]="slide.img" alt="" class="header-img1">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="hero-heading-area heading1">
                  <h5>DronFinish</h5>
                  <h1 class="main-heading">Pintura Profesional con Drones: Más Rápido, Más Seguro, Más Eficiente.</h1>
                  <p class="pera">
                    Cubrimos grandes superficies y zonas de difícil acceso sin andamios, reduciendo costos y tiempos de entrega.
                  </p>
                  <div class="btn-area">
                    <a [routerLink]="['/']" [fragment]="'contacto'" class="header-btn1">👉 Cotiza ahora <i class="fa-solid fa-arrow-right"></i></a>
                    <a [routerLink]="['/']" [fragment]="'contacto'" class="header-btn2">📞 Habla con un asesor <i class="fa-solid fa-arrow-right"></i></a>
                  </div>
                  <!-- <div class="header-bottom-images"> -->
                    <!-- <div class="img1">
                      <img src="assets/img/all-images/header-bottom.png" alt="">
                    </div> -->
                    <!-- <div class="content">
                      <ul>
                        <li *ngFor="let star of [1,2,3,4,5]"><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <p><span>4k</span>Happy Client</p>
                    </div> -->
                  <!-- </div> -->
                </div>
              </div>
  
              <!-- <div class="col-lg-6">
                <div class="circle-arrow">
                  <a href="javascript:void(0)">
                    <img src="assets/img/elements/circle1.png" alt="" class="keyframe5 circle1">
                    <img src="assets/img/icons/arrow1.svg" alt="" class="arrow1">
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  