<div class="hero1-section-area about-bg-area">
    <img src="assets/img/bg/header-img1.png" alt="" class="header-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="hero-heading-area heading1 text-center">
                    <h1>Empowering Energy Dive into Our Electricity</h1>
                    <app-breadcrumb subTitle="Empowering Energy Dive into Our Electricity" title="Our Blog" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-leftside-section-area sp8">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-leftside-area heading2 blog-rightside">
                    <app-blog-content />
                </div>
            </div>
            <div class="col-lg-4">
                <app-blogs-sidebar />
            </div>
        </div>
    </div>
</div>

<app-our-blogs />