<div class="hero4-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero4-header-textarea">
                    <div class="row">
                        <div class="col-lg-9 m-auto">
                            <div class="header-text text-center heading8">
                                <h5 data-aos="fade-up" data-aos-duration="800">Current Electricity Services</h5>
                                <h1 class="tg-element-title">Current Innovation Leading The Way in Electricity Services
                                </h1>
                                <div class="btn-area" data-aos="fade-up" data-aos-duration="1200">
                                    <a routerLink="/contact-us" class="header-btn7">Contactar <i
                                            class="fa-solid fa-arrow-right"></i></a>
                                    <a routerLink="/contact-us" class="header-btn8">Ver nuestros trabajos <i
                                            class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="header-left-side" data-aos="fade-left" data-aos-duration="1000">
                                <img src="assets/img/all-images/header-bottom2.png" alt="" class="bottom2">
                                <p><span>4K</span>Happy Client</p>
                                <ul class="d-flex align-items-center gap-1 flex-wrap justify-content-lg-start justify-content-center">
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                                <img src="assets/img/icons/arrow2.svg" alt="" class="arrow2">

                                <div class="percent-electri">
                                    <h3><span class="counter">89</span>%</h3>
                                    <p>Electricity Client <br class="d-lg-block d-none"> Services Success </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1000">
                            <div class="header-images">
                                <img src="assets/img/all-images/header-img6.png" alt="" class="header-img6">
                                <img src="assets/img/elements/elements1.png" alt="" class="elements1">
                                <img src="assets/img/icons/arrow2.svg" alt="" class="arrow2">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="images-text-area" data-aos="fade-right" data-aos-duration="1000">
                                <div class="content-area">
                                    <div class="icons">
                                        <img src="assets/img/icons/bizli.svg" alt="">
                                    </div>
                                    <div class="pera">
                                        <p>Powered by <br class="d-lg-block d-none"> Electricity Services </p>
                                    </div>
                                </div>
                                <div class="img">
                                    <img src="assets/img/icons/arrow3.png" alt="">
                                </div>
                                <div class="pera2">
                                    <p>With cutting-edge technology and industry expertise, we empower</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>