<div class="contact1-section-area sp1" style="background-image: url(assets/img/all-images/g6.png); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contact-header-area heading2">
                    <h5 data-aos="fade-left" data-aos-duration="800">Contacto</h5>
                    <h2 class="tg-element-title">¿Listo para pintar sin riesgos ni demoras?</h2>
                    <p data-aos="fade-left" data-aos-duration="1000">Contáctanos hoy mismo y recibe una cotización sin costo.</p>
                    <div class="space48"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact-auhtor-side" data-aos="fade-left" data-aos-duration="1000">
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <p>Teléfono</p>
                                        <a href="tel:1234567890">+569 3387 7568</a>
                                    </div>
                                </div>
                                <div class="space48"></div>
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="text">
                                        <p>Dirección</p>
                                        <a> ... </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="space48 d-md-none"></div>
                            <div class="contact-auhtor-side" data-aos="fade-left" data-aos-duration="1200">
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p>Email</p>
                                        <a href="mailto:serebangle@gmail.com">contacto&#64;dronefinish.cl</a>
                                    </div>
                                </div>
                                <div class="space48"></div>
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                    <div class="text">
                                        <p>Instagram</p>
                                        <a href="javascript:void(0)">Dronfinish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="contact-submit-boxarea">
                    <h4>Solicita una cotización</h4>

                    <form (ngSubmit)="submitForm()">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-area">
                                    <p>Nombre</p>
                                    <input type="text" placeholder="Nombre" required name="nombre" [(ngModel)]="formData.nombre">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-area">
                                    <p>Teléfono</p>
                                    <input type="number" placeholder="Numero de teléfono" required name="telefono" [(ngModel)]="formData.telefono">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area">
                                    <p>Email</p>
                                    <input type="email" placeholder="Email" required name="email" [(ngModel)]="formData.email">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area">
                                    <p>Detalles</p>
                                    <textarea placeholder="Escribe tu duda" cols="30" rows="10" required name="detalles" [(ngModel)]="formData.mensaje"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area1">
                                    <input type="checkbox" required name="acuerdo" [(ngModel)]="formData.isSubmitted">
                                    <p>Estoy de acuerdo con la política de privacidad del sitio</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area1">
                                    <button type="submit" class="header-btn1">Enviar<i class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>