<header>
    <div class="header-area {{headerClass}} header header-sticky d-none d-lg-block" stickyScroll id="header">
        <p *ngIf="isAlert" class="header-pera">Electricity Service In Losangle City. Get Appointment Today</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-elements">
                        <div class="site-logo">
                            <a routerLink="/home"><img [src]="logo" alt="Logo"></a>
                        </div>

                        <div class="main-menu">
                            <ul>
                                <li *ngFor="let item of menuItems">
                                    <a [routerLink]="['/home']" [fragment]="item.fragment">{{ item.title }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-area">
                            <a [routerLink]="['/home']" [fragment]="'contact'" [class]="btnClass">Contáctanos <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-mobile-menu [btnClass]="btnClass" [mobileHeaderClass]="mobileHeaderClass" [mobileLogo]="mobileLogo"
    [mobileSidebarClass]="mobileSidebarClass" />