<div class="contact2-section-area sp1"
    style="background-image: url(assets/img/all-images/contact-bg2.png); background-position: center; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contact-header-area heading2">
                    <h5 data-aos="fade-left" data-aos-duration="800">Contact Us</h5>
                    <h2 class="tg-element-title">Illuminate Your Message Get in Contact</h2>
                    <p data-aos="fade-left" data-aos-duration="1000">Have questions or ready to get started with our
                        electricity services? Our team is here to help! Whether you're seeking.</p>
                    <div class="space48"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact-auhtor-side" data-aos="fade-left" data-aos-duration="1000">
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <p>Phone</p>
                                        <a href="tel:1234567890">123 456 7890</a>
                                    </div>
                                </div>
                                <div class="space48"></div>
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <div class="text">
                                        <p>Address</p>
                                        <a href="tel:1234567890">8502 Preston Rd. Inglewoo </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="space48 d-md-none"></div>
                            <div class="contact-auhtor-side" data-aos="fade-left" data-aos-duration="1200">
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p>Email</p>
                                        <a href="mailto:serebangle@gmail.com ">serebangle&#64;gmail.com </a>
                                    </div>
                                </div>
                                <div class="space48"></div>
                                <div class="icons-text">
                                    <div class="icons">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                    <div class="text">
                                        <p>Linkedin</p>
                                        <a href="javascript:void(0)">Fleexstudio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1200">
                <div class="contact-submit-boxarea">
                    <h4>Request A Quote</h4>
                    <form action="https://api.web3forms.com/submit" method="POST">
                        <input type="hidden" name="access_key" value="0cd32fff-eda2-4da3-be43-37d47fbb396b">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-area">
                                    <p>Name (required)</p>
                                    <input type="text" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-area">
                                    <p>Number (required)</p>
                                    <input type="number" placeholder="Phone" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area">
                                    <p>Email (required)</p>
                                    <input type="email" placeholder="Email" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area">
                                    <p>Additional Details (Optional)</p>
                                    <textarea placeholder="Describe your inquiry" cols="30" rows="10"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-area1">
                                    <input type="checkbox" required>
                                    <p>I agree with the site privacy policy</p>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="input-area1">
                                    <button type="submit" class="header-btn3">Submit Now <i
                                            class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>