<app-loader />
<div class="homepage1-body tg-heading-subheading animation-style3">
    <app-scroll-to-top />
    <app-topbar btnClass="header-btn1" headerClass="homepage1" mobileHeaderClass="mobile-haeder1"
        logo="assets/img/logo/nuevologoTRANSPARENTEsinbordes.png" mobileLogo="assets/img/logo/logo1.png" mobileSidebarClass="mobile-sidebar1" />
    <router-outlet />
    <!-- <app-cta /> -->
    <app-footer containerClass="footer1-section-area" logo="assets/img/logo/nuevologoTRANSPARENTEsinbordes.png" />
</div>
