<app-loader className="preloader3" icon="assets/img/logo/preloader4.png" />
<div class="homepage2-body tg-heading-subheading animation-style3">
    <app-topbar btnClass="header-btn3" headerClass="homepage2" logo="assets/img/logo/logo2.png"
        mobileHeaderClass="mobile-haeder2" mobileLogo="assets/img/logo/logo3.png"
        mobileSidebarClass="mobile-sidebar2" />
    <app-hero-3 />
    <app-about-3 />
    <app-service-3 />
    <app-case-study-3 />
    <app-testimonial-3 />
    <app-team-3 />
    <app-contact-3 />
    <app-faq-3 />
    <app-blogs-3 />
    <app-footer-2 btnClass="header-btn3" containerClass="footer2-section-area" logo="assets/img/logo/logo3.png"/>
</div>